{% load static %}
<html>
	<head>
		{% include 'base/head.html' %}
	</head>
	<body>
		{% include 'base/headder_navbar.html' %}
		<div class="between-headder-footer">
			{% include "base/popover_headline_v1.html" with title="<h5>ユーザデータ登録</h5>" description="「LINEへの通知に使用するLINEトークン」を登録して下さい。<br>登録が正常に行われるとそれぞれの入力欄に表示されます。<br>" only %}
			<form method="post" action="">
				{% csrf_token %}
				<!-- LINEトークン -->
				<div class="form-group">
					<span>LINEトークン</span>
					<input type="text" class="form-control" name="line_token" value="{{ db_line_token }}">
				</div>
				<button type="submit" class="btn btn-primary">登録</button>
			</form>
		</div>
	</body>
	<script>
		//BootstrapのPopperを使用するためのJS
		(function() {
			window.addEventListener("load", function () {
				$('[data-toggle="popover"]').popover();
			});
		})();
	</script>
</html>