{% extends "base/base.html" %}
{% block content %}
{% load static %}
<link href="{% static 'css/input.css' %}" rel="stylesheet">

<body>
	<form method="post" action="">
		{% csrf_token %}

		<!-- 登録時の通知スイッチ -->
		<div>
			{% include "base/popover_v1.html" with title="登録時の通知状態" description="検索条件登録直後に通知を行いたくない場合はOFFにして下さい。" only %}
			<label>
				{% if read_db.md_alert_sw == "nocheck" %}
					{% include "base/tgsw_v1.html" with check="nocheck" name="alert_sw_first" only %}
				{% else %}
					{% include "base/tgsw_v1.html" with check="checked" name="alert_sw_first" only %}
				{% endif %}
			</label>
		</div>

		<!-- 即決価格フィルタ -->
		<div>
			{% include "base/popover_v1.html" with title="即決設定除外フィルタ" description="検索条件登録直後に通知を行いたくない場合はOFFにして下さい。" only %}
			<label>
				{% if read_db.md_sokketu_sw == "nocheck" %}
					{% include "base/tgsw_v1.html" with check="nocheck" name="sokketu_sw" only %}
				{% else %}
					{% include "base/tgsw_v1.html" with check="checked" name="sokketu_sw" only %}
				{% endif %}
			</label>
		</div>

		<!-- 自動延長フィルタ -->
		<div>
			{% include "base/popover_v1.html" with title="自動延長除外フィルタ" description="検索条件登録直後に通知を行いたくない場合はOFFにして下さい。" only %}
			<label>
				{% if read_db.md_autoex_sw == "nocheck" %}
					{% include "base/tgsw_v1.html" with check="nocheck" name="autoex_sw" only %}
				{% else %}
					{% include "base/tgsw_v1.html" with check="checked" name="autoex_sw" only %}
				{% endif %}
			</label>
		</div>

		<!-- 検索元URL -->
		<p>
			{% include "base/popover_v1.html" with title="検索元URL" description="URLは入力してください。<br>100件表示にしてください。" only %}
			<textarea name="srch_url" class="textarea-width100" rows="2">{{ read_db.md_srch_url }}</textarea>
		</p>

		<!-- 部分一致除外タイトル -->
		<p>
			{% include "base/popover_v1.html" with title="タイトルの部分一致除外" description="キーワードはスペース区切りで入力してください。<br>何も入力しない場合は全てのタイトルが含まれます。<br>" only %}
			<textarea name="ex_title" class="textarea-width100" rows="2">{{ read_db.md_ex_title }}</textarea>
		</p>

		<!-- 除外出品者 -->
		<p>
			{% include "base/popover_v1.html" with title="除外出品者" description="キーワードはスペース区切りで入力してください。<br>何も入力しない場合は全ての商品説明文が含まれます。<br>" only %}
			<textarea name="ex_seller" class="textarea-width100" rows="2">{{ read_db.md_ex_seller }}</textarea>
		</p>

		<!-- DB連携 -->
		<span class="d-flex align-items-center">
				<span>検索条件保存・読込・削除</span>
				<button type="button" class="btn btn-dark rounded-circle p-0 d-flex align-items-center  justify-content-center"
								style="width:1.3rem;height:1.3rem;position:relative;left:3px;"
								data-trigger="focus"
								data-placement="right"
								data-toggle="popover"
								data-html="true"
								data-content="テキストボックスに検索条件名を入力して「保存」ボタンをクリックすると検索条件に名前を付けて保存が可能です。<br>保存した検索条件名をプルダウンで選択して「読込」「削除」が可能です。<br>">？
				</button>
			</span>
		<!-- 保存 -->
		<p>
			<!--<input type="text" name="query_name" size="10" class="textarea-width20">-->
			<input type="text" name="query_name">
			<button type="submit" name="db_action_btn" value='save'>保存</button>
		</p>
		<!-- 読み込み 削除 すべて削除 -->
		<p>
			<select name="select_db_data">
				{% for item in exists_db %}
					<option value={{ item.id }}>{{ item.md_query_name }}</option>
				{% endfor %}
			</select>
			<button type="submit" name="db_action_btn" value='read'>読込</button>
			<button type="submit" name="db_action_btn" value='delete' onclick="return sametab_conf('')">削除</button>
			<!--
			<button type="submit" name="db_action_btn" value='all_delete' onclick="sametab('')">全て削除</button>
			-->
		</p>
		<!-- 通知のONOFFの変更 -->
		{% include "base/popover_v1.html" with title="通知状態の変更" description="保存された検索条件名と通知状態の一覧が表示されます。<br>通知状態を変更して「save」ボタンをクリックすると、通知状態をまとめて変更可能です。<br>" only %}
		{% for item in exists_db %}
			<div class="alert_sw_all">
				<label>
					<input type="checkbox" {{ item.md_alert_sw }} value={{ item.id }} name="alert_sw_all" data-on="ON" data-off="OFF" data-toggle="toggle" data-onstyle="primary" data-offstyle="secondary">
					検索条件名：{{ item.md_query_name }}
				</label>
			</div>
		{% endfor %}
		<button type="submit" name="db_action_btn" value='alert_sw'>save</button>
	</form>
</body>
<script>
	//BootstrapのPopperを使用するためのJS
	(function() {
		window.addEventListener("load", function () {
			$('[data-toggle="popover"]').popover();
		});
	})();
	// submitボタンをクリックして同じタブで実行させる
	function sametab(u){
		var f = document.querySelector("form");
		var a = f.setAttribute("action", u);
		var a = f.setAttribute("target", "");
		document.querySelector("form").submit();
	}
	// submitボタンをクリックして同じタブで実行させる
	// 確認画面付き
	function sametab_conf(u){
		if(window.confirm('削除しますか？')){
			var f = document.querySelector("form");
			var a = f.setAttribute("action", u);
			var a = f.setAttribute("target", "");
			document.querySelector("form").submit();
		}
		else{
			return false;
		}
	}
	// submitボタンをクリックして新しいタブで実行させる
	function newtab(u){
		var f = document.querySelector("form");
		var a = f.setAttribute("action", u);
		var a = f.setAttribute("target", "_blank");
		document.querySelector("form").submit();
	}

	/*
	// ラジオボタンとテキストボックスを連動 評価レート
	$(function(){
		 $( 'input[name="radio_rate"]:radio' ).change( function() {
				var radioval = $(this).val();
				if(radioval == "ON"){
					 $('#inputrate').removeAttr('disabled');
				}else{
					 $('#inputrate').attr('disabled','disabled');
				}
		 });
	});
	// ラジオボタンとテキストボックスを連動 出品者ID
	$(function(){
		 $( 'input[name="exclude_id"]:radio' ).change( function() {
				var radioval = $(this).val();
				if(radioval == "ON"){
					 $('#input_exclude_id').removeAttr('disabled');
				}else{
					 $('#input_exclude_id').attr('disabled','disabled');
				}
		 });
	});
	// ラジオボタンとテキストボックスを連動 タイトルと商品説明で部分一致除外
	$(function(){
		 $( 'input[name="exclude_titledesc"]:radio' ).change( function() {
				var radioval = $(this).val();
				if(radioval == "ON"){
					 $('#input_exclude_titledesc').removeAttr('disabled');
				}else{
					 $('#input_exclude_titledesc').attr('disabled','disabled');
				}
		 });
	});
	*/
</script>

{% endblock %}