<!DOCTYPE html>
<html>
<head>
	<title>MQTT.js Test</title>
	<script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
</head>
	<body>
		<p>MQTT.js Test</p>
		<input type="range" id="myslider" min="0" max="100" value="50" step="10" onInput ="OnInputSlider()">

		<script>
			var client = mqtt.connect('wss://dopudopu:CrtTex6On76V8M1v@dopudopu.cloud.shiftr.io',{
				clientId: 'javascript'
			});
			client.on('connect', function() {
				console.log('connected!');
				//client.subscribe('mqtt/demo');
			});
			client.on('message', function(topic, message) {
				console.log(topic + ': ' + message.toString());
			});

			function OnButtonClick() {
				console.log('onClick');
				client.publish('mqtt/demo', 'hello world!');
			}
			function OnInputSlider() {
				let element = document.getElementById('myslider');
				console.log(element.value);
				client.publish('aaa',element.value);
			}
		</script>
	</body>
</html>