{% extends "base/base.html" %}
{% block content %}
{% load static %}
<body>
	{% include "base/popover_v2.html" with title="<h5>ユーザデータ登録</h5>" description="「LINEへの通知に使用するLINEトークン」を登録して下さい。<br>登録が正常に行われると入力欄に表示されます。<br>" only %}
	<form method="post" action="">
		{% csrf_token %}
		<!-- LINEトークン -->
		<div class="form-group">
			<span>LINEトークン</span>
			<input type="text" class="form-control" name="line_token" value="{{ db_line_token }}">
		</div>
		<button type="submit" class="btn btn-primary">登録</button>
	</form>
</body>
<script>
	//BootstrapのPopperを使用するためのJS
	(function() {
		window.addEventListener("load", function () {
			$('[data-toggle="popover"]').popover();
		});
	})();
</script>
{% endblock %}